################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Repos/config/applicationhost.config
/.vs/Repos/v16/.suo
